<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.clemson.kangaeru"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	
    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotecardActivity"
            android:label="@string/title_activity_notecard" >
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CompoundActivity"
            android:label="@string/title_activity_compound"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".FingerPaint"
            android:label="@string/title_activity_finger_paint" >
        </activity>
        <activity
            android:name=".WritingPractice"
            android:label="@string/title_activity_writing_practice" >
        </activity>
    </application>

</manifest>